
<div class="page-header text-center">
	<h1>New Task Assignment</h1>
</div>


<div class="container">
<div class="col-sm-10 col-sm-offset-1">
<form name="myform" ng-submit="makeAssignment()">

<!-- SEARCH BAR -->
<h4> <span class="fa fa-user"></span> Select the annotator:</h4>
<!-- Show live search until we have assigned someone -->
<div class="list-group">
	<!-- After assigning someone, just show search bar that will enable users to reassign someone -->
	<div class="input-group" ng-click="resetAssignedTo()">
		<input ng-hide="assignedTo" type="text" ng-model="currString" class="form-control" placeholder="Email address" required/>

		<b ng-show="assignedTo"><input type="email" ng-model="currString" class="form-control" placeholder="Enter annotator's email" /></b>

		<div class="input-group-btn">
            <button disabled="true" class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button>
        </div>
    </div>

  <!-- Allow users to click and assign an annotator -->
  <a ng-hide="assignedTo" ng-repeat="annotators in annotators | performSearch:currString" href="" class="list-group-item" ng-click="setAssignedTo($index)">
    {{annotators.email}}
  </a>
</div>

<div class="page-header">
</div>


<!-- TASK SELECTION -->
<h4> <span class="fa fa-file"></span> Select the task type:</h4>
<select class="form-control" ng-model="taskType" ng-options="taskName for taskName in taskNames"></select>


<div class="page-header">
</div>

<!-- NUMBER OF TASKS -->
<h4> <span class="fa fa-list"></span> Enter the number of tasks:</h4>

  <input class="form-control" type="number" name="numTasks" ng-model="numTasksToAssign"
                 min="0" max="999" required>
  <div ng-show="numForm.numTasks.$error.number || numForm.numTasks.$error.required" class="alert alert-danger" role="alert"><span class="error" >
    Please enter a valid integer!</span></div>

<div class="page-header">
</div>

<button type="submit
" class="btn btn-primary">Assign</button>

</form>
</div>
</div>
